form
{
  color: #66B2E8;
  margin-bottom: .5em;
  font-size: 2em;
  font-weight: bold;
}

input
{
  color: #66B2E8;
  font-size: 1em;
  /*width: 4em;*/
  font-weight: bold;
  border-style: none;
}

input:focus
{
  outline: none;
}

.month
{
  text-align: center;
  margin-left: -.2em;
  margin-right: -.4em;
}
