.wrapper
{
  overflow: auto;
  margin-bottom: 1em;
}

span
{
  text-decoration: none;
  color: #fff;
  background-color: #ddd;
  border-radius: 25px;
  margin: .2em .4em .2em 0em;
  padding: .2em 1em .2em 1em;
  float: left;

  border-style: none;
  cursor: pointer;
  font: inherit;
}

:checked + span {
  background-color: #66B2E8;
}


input
{
  display: none;
}

.button
{
  text-align: center;
  min-width: 1.2em;
}

.button:active
{
  background-color: #eee;
}

.space
{
    margin-right: .8em;
}
