<date-picker
  (dateChange)='onDateChange($event)'
  [date]='date'
></date-picker>

<div class='head'>
  <circle-diagram-day
    [modifieds]='modifiedsFiltered'
  ></circle-diagram-day>

  <progress-text
    [modifieds]='modifiedsFiltered'
  ></progress-text>
</div>

<div *ngIf='modifiedsFiltered.length > 0'>
  <suffix-picker
    (change)='onSuffixPickerChange()'
    [suffixSelectionList]='suffixSelectionList'
  ></suffix-picker>

  <table>
    <tbody>

      <timevalue
        *ngFor='let modified of modifiedsFiltered'
        [distance]='modified.distance'
        [time]='modified.clock'
        [path]='modified.path'
      ></timevalue>

    </tbody>
  </table>
</div>

<div class='relative' *ngIf='modifiedsFiltered.length == 0'>
  <img class='spinner' src='src/assets/spinner.gif'>
</div>
