.parent
{
  height: 4em;
  color: #fff;
  display: inline-block;
  text-align: center;
  background-color: #66B2E8;
  height: 5em;
  position: relative;
  display: inline-block;
  width: 100%;
}

.close
{
  margin-top: .6em;
  margin-left: .6em;
  background-color: #fff;
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;
  color: #66B2E8;
  font-size: 2em;
  cursor: pointer;
}

label
{
  -webkit-user-select: none;
}

.child
{
  text-align: center;
}

.big
{
  float: left;
  margin-top: -2.4em;
}

span
{
  color: #fff;
  font-weight: lighter;
  width: 100%;
}

span a
{
  color: #fff;
}
