.parent
{
  height: 4em;
  color: #fff;
  background-color: #66B2E8;
  display: flex;
  align-items: center;
}


.child
{
  text-align: center;
}

.close
{
  /*margin-top: .6em;*/
  margin-left: .4em;
  background-color: #fff;
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;
  color: #66B2E8;
  font-size: 2em;
  cursor: pointer;
}

label
{
  -webkit-user-select: none;
}

span
{
  color: #fff;
  font-weight: lighter;
  width: 100%;
}

span a
{
  color: #fff;
}
